<div class="tabWrapper-left">
  <table class="appTabs transparent" id="appTabList">
    <tbody>
      <tr>
        <td id="Faculty">
          <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=2133"
            target="_blank"><span>Faculty</span>
          </a>
        </td>
        <td id="Student">
          <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=17455"
            target="_blank"><span>Student</span>
          </a>
        </td>
        <td id="Support">
          <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=2132"
            target="_blank"><span>Support</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="appTabs transparent" id="appTabList">
    <tbody>
      <tr>
        <td id="Home">
          <a routerLink="/home">
            Home
          </a>
        </td>
        <td id="One">
          <a routerLink="/one">
            CS-230-004
          </a>
        </td>
        <td id="Two">
          <a routerLink="/two">
            Two
          </a>
        </td>
        <td id="Three">
          <a routerLink="/three">
            Three
          </a>
        </td>
        <td id="Four">
          <a routerLink="/four">
            Four
          </a>
        </td>
        <td id="Five">
          <a routerLink="/five">
            Five
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>