<div id="mobileMenuWrapper">
    <a id="mobileMenu" href="#">Menu</a>
    <div id="mobileMenuDropdown">
      <ul id="mobileMenuUl">
        <li><a href="http://ecampusinfo.wvu.edu/faculty-resources"><span>Faculty</span></a></li>
        <li><a href="http://ecampusinfo.wvu.edu/student-resources"><span>Student</span></a></li>
        <li><a href="http://ecampusinfo.wvu.edu/help-and-support"><span>Support</span></a></li>
        <li><a href="http://ecampusinfo.wvu.edu/calendar"><span>Calendar</span></a></li>
        <li><a href="http://ecampusinfo.wvu.edu/about"><span>About</span></a></li>
      </ul>
    </div>
  </div>
  <div class="tabWrapper-left">
    <table class="appTabs transparent" id="appTabList">
      <tbody><tr>
        <td id="Faculty">
            <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=2133" target="_blank"><span>Faculty</span>
            </a>
          </td>
        <td id="Student">
            <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=17455" target="_blank"><span>Student</span>
            </a>
          </td>
        <td id="Support">
            <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=2132" target="_blank"><span>Support</span>
            </a>
          </td>
       </tr>
    </tbody></table>
    <div class="clearfloats"></div>
  </div>
