<div style="background-color:red">One</div>

<div class="loginFooter">
    <p>All course materials, including lectures, class roles, quizzes, exams, handouts, presentations, and other
        materials provided to students for this course are protected intellectural property. As such, the
        unauthorized
        purchase or sale of these materials may result in disciplinary sanctions under the <a
            href="https://studentconduct.wvu.edu/campus-student-code">Campus Student Code</a>.</p>
    <img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/logos/bb_signature/Bb_Signature_StdMed.png"
        alt="Blackboard Learn" width="200">
    <div class="legal">
        <p>© 1997-2021 Blackboard Inc. All Rights Reserved. U.S. Patent No. 7,493,396 and 7,558,853. Additional
            Patents Pending.</p>
    </div>
    <div class="additionalInfo">
        <p><a href="http://access.blackboard.com" id="accessibilityLink">Accessibility information</a></p>
    </div>
</div>