<p *ngIf="courseInfo == undefined">Failed fetching user info</p>
<div *ngIf="courseInfo != undefined">
    <div class="container-fluid">
        <div class="card p-2 m-4">
            <h5 class="card-header">{{courseInfo.Title}}</h5>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4" style="max-width: 60px;">
                        <img src={{courseInfo.Image}} class="img-fluid rounded-start" alt="...">
                    </div>

                    <div class="col-md-11">
                        <div class="card-body">
                            <h5 class="card-title">{{courseInfo.Link}}</h5>
                            <p class="card-text">{{courseInfo.Text}}</p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>