<div class="brandingImgWrap">
    <img src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/eCampusLogo.png" alt="eCampus Logo Image" title="eCampus Logo Image">

<ul>
    <li class="font-size">
      <img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/ng/fonts.gif" alt=""> 
      <a href="#" title="Change Text Size" onclick="page.showChangeTextSizeHelp()">Change Text Size</a>
    </li>
    <li class="contrast">
      <img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/ng/contrast.gif" alt=""> 
      <a href="#" title="High Contrast Setting" onclick="page.showAccessibilityOptions(); return false;">High Contrast Setting</a>
    </li>
  </ul>
</div>
<app-top-nav-bar>Loading</app-top-nav-bar>
<app-layout-main>Loading layout</app-layout-main>