
<div class="brandingImgWrap">
  <img src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/eCampusLogo.png" alt="eCampus Logo Image"
    title="eCampus Logo Image">

  <div class="position-absolute top-0 end-0">
    <table class="appTabs transparent" id="appTabList">
      <tbody>
        <tr>
          <td id="Text-Size">
            <a href="https://ecampus.wvu.edu/webapps/blackboard/execute/viewExtendedHelp?internalhandle=change_text_size&helpkey=change_text_size"
              target="_blank"><span><img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/ng/fonts.gif" alt=""></span>
            </a>
          </td>
          <td id="Contrast-Setting">
            <a href="https://ecampus.wvu.edu/webapps/portal/execute/changePersonalStyle?cmd=showAccessibilityOptions"
              target="_blank"><span><img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/ng/contrast.gif" alt=""></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ecampus-user-info>Loading user info</ecampus-user-info>
<app-top-nav-bar>Loading</app-top-nav-bar>
<app-layout-main>Loading layout</app-layout-main>