<body id="learn-oe-body" class="login-page">

    <div id="loginPageContainer" class="custom">
        <div class="left">
            <div id="loginPane">
                <div id="loginContainer">
                    <div id="loginHeader" class="clearfix">

                    </div>

                    <div class="clearfix loginBody">
                        <div id="loginBox">


                            <div id="loginRedirectProviders">
                                <button id="redirectProvidersDropdownButton" class="button dropdown expand">Sign in with
                                    third-party
                                    account</button>
                                <ul id="loginRedirectProviderList" class="">
                                    <li><a
                                            href="/webapps/bb-auth-provider-cas-BB5f107f082f849/execute/casLogin?cmd=login&amp;authProviderId=_107_1&amp;redirectUrl=https%3A%2F%2Fecampus.wvu.edu%2Fwebapps%2Fportal%2Fexecute%2FdefaultTab">
                                            <div class="defaultProviderIcon"></div>Login
                                        </a></li>
                                </ul>
                            </div>

                            <a target="_blank" href="https://login.wvu.edu/self-service/change">Forgot your
                                Password?</a>
                            <br><br>
                            This login is only for the WVU Main Campus, Potomac State, WVU Tech, Continuing &amp;
                            Professional
                            Education, Learning Academy, Showcase, and Development System.
                            <br><br>
                            <hr><br>
                            The <a
                                href="https://help.blackboard.com/Learn/Student/Getting_Started/Browser_Support/Browser_Checker">BROWSER
                                CHECK</a> tool will check if you are using a supported internet browser, have a valid
                            Java version
                            installed, enabled Javascript, enabled Cookies and disabled Popup windows.
                        </div>

                        <div id="loginOptions">
                        </div>

                    </div>
                </div>
            </div>

            <div class="loginMessageBox">
                <h1 style="color: #333f48;text-transform: uppercase;">
                    <p class="fs-5">
                        <strong> DUO TWO-FACTOR IS MANDATORY</strong>
                    </p>
                </h1>
                <p>Two-factor authentication is required to access eCampus, Portal and other WVU systems. Set up is
                    easy. Be
                    ready to install the free Duo Mobile app on your phone. Call 304-293-4444 or visit an ITS Service
                    Center in
                    the Mountainlair or Lyon Tower if you need help.</p><br>
                <p><a title="More information" href="https://wvu.teamdynamix.com/TDClient/KB/Default?CategoryID=3626"
                        style="font-size: 1.2em;color:#0033a0;">More information</a>
                </p>
            </div>
        </div>
        <div class="right">
            <div class="portlet">
                <div id="titleAnnouncements">
                    <h2>Announcements</h2>
                </div>
                <div id="loginAnnouncements">
                    <ul>
                        <li>
                            <strong>Regularly Scheduled Sunday Maintenance</strong>
                            <em class="announcementDate">
                                (Sunday, May 17, 2020)
                            </em>
                            <br>
                            <div class="vtbegenerated">
                                <p><span style="color: #000000;">eCampus access is not guaranteed during our regular
                                        Sunday
                                        maintenance, 3 a.m. – noon. See all <a href="https://bit.ly/2zxbfZh"><span
                                                style="color: #000000;">planned maintenance</span>
                                        </a>.
                                    </span>
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="portlet">
                <div id="titleLinks">
                    <h2>Links</h2>
                </div>
                <div class="announcement" id="links">
                    <ul>
                        <li> Getting Started <a title="Faculty"
                                href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/?CategoryID=2131"
                                target="_blank"> Faculty
                            </a>| <a title="Student"
                                href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=100973"
                                target="_blank">Student</a>
                        </li>
                        <li><a title="Supported Browsers"
                                href="https://help.blackboard.com/Learn/Instructor/Getting_Started/Browser_Support"
                                target="_blank">
                                Supported Browsers </a>
                        </li>

                        <li> <a title="Known Issues"
                                href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=105633"
                                target="_blank">Known
                                Issues</a>
                        </li>
                        <li><a title="Instructional Tools"
                                href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=107845"
                                target="_blank">Instructional Tools</a>
                        </li>

                        <li><a title="Top 10 Frequently Asked eCampus Questions"
                                href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=62304"
                                target="_blank">Top 10
                                Frequently Asked eCampus Questions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="portlet">
                <div id="titleLinks">
                    <h2>Instructional Tools</h2>
                </div>
                <div class="announcement" id="tools">
                    <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=5018"
                        target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/turnitin.png"
                            alt="Turnitin" title="Turnitin"></a>
                    <a href="https://help.blackboard.com/Collaborate/Ultra" target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/blackboard-collarborate.png"
                            alt="Blackboard Collaborate Ultra" title="Blackboard Collaborate Ultra"></a>
                    <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=32692"
                        target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/voicethread.png"
                            alt="Voice Thread" title="Voice Thread"></a>
                    <a href="https://wvu.teamdynamix.com/TDClient/KB/ArticleDet?ID=14562" target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/iclicker.png"
                            alt="iClicker" title="iClicker"></a>
                    <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=101030"
                        target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/lockdown-browser.png"
                            alt="Respondus Lockdown Browser" title="Respondus Lockdown Browser"></a>
                    <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=100912"
                        target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/Respondus-4.0.png"
                            alt="Respondus 4.0" title="Respondus 4.0"></a>
                    <a href="https://wvu.teamdynamix.com/TDClient/1976/Portal/KB/ArticleDet?ID=5016"
                        target="_blank"><img
                            src="https://ecampus.wvu.edu/branding/themes/BbLearn2016WVU/images/icons/StudyMate-campus.png"
                            alt="Studymate Campus" title="Studymate Campus"></a>
                </div>
            </div>
        </div>

    </div>
    <div class="loginFooter">
        <p>All course materials, including lectures, class roles, quizzes, exams, handouts, presentations, and other
            materials provided to students for this course are protected intellectural property. As such, the
            unauthorized
            purchase or sale of these materials may result in disciplinary sanctions under the <a
                href="https://studentconduct.wvu.edu/campus-student-code">Campus Student Code</a>.</p>
        <img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/logos/bb_signature/Bb_Signature_StdMed.png"
            alt="Blackboard Learn" width="200">
        <div class="legal">
            <p>© 1997-2021 Blackboard Inc. All Rights Reserved. U.S. Patent No. 7,493,396 and 7,558,853. Additional
                Patents Pending.</p>
        </div>
        <div class="additionalInfo">
            <p><a href="http://access.blackboard.com" id="accessibilityLink">Accessibility information</a></p>
        </div>
    </div>
</body>