<body id="learn-oe-body" class="login-page">

    <div id="loginPageContainer" class="custom">
        <div class="left">
            <div id="loginPane">
                <div id="loginContainer">


                    <div class="clearfix loginBody">
                        <div id="loginBox">


                            <div id="login">

                                <ul id="loginButton" class="">
                                    <li><a href="https://ecampus.wvu.edu/">
                                            <div class="button"></div>Login
                                        </a></li>
                                </ul>
                            </div>

                            <a target="_blank" href="https://login.wvu.edu/self-service/change">Forgot your
                                Password?</a>
                            <br><br>
                            This login is only for the WVU Main Campus, Potomac State, WVU Tech, Continuing &amp;
                            Professional
                            Education, Learning Academy, Showcase, and Development System.
                            <br><br>
                            <hr><br>
                            The <a
                                href="https://help.blackboard.com/Learn/Student/Getting_Started/Browser_Support/Browser_Checker">BROWSER
                                CHECK</a> tool will check if you are using a supported internet browser, have a valid
                            Java version
                            installed, enabled Javascript, enabled Cookies and disabled Popup windows.
                        </div>
                    </div>
                </div>
            </div>

            <div class="loginMessageBox">
                <h1 style="color: #333f48;text-transform: uppercase;">
                    <p class="fs-5">
                        <strong> DUO TWO-FACTOR IS MANDATORY</strong>
                    </p>
                </h1>
                <p>Two-factor authentication is required to access eCampus, Portal and other WVU systems. Set up is
                    easy. Be
                    ready to install the free Duo Mobile app on your phone. Call 304-293-4444 or visit an ITS Service
                    Center in
                    the Mountainlair or Lyon Tower if you need help.</p><br>
                <p><a title="More information" href="https://wvu.teamdynamix.com/TDClient/KB/Default?CategoryID=3626"
                        style="font-size: 1.2em;color:#0033a0;">More information</a>
                </p>
            </div>
        </div>


    </div>
    <div class="loginFooter">
        <p>All course materials, including lectures, class roles, quizzes, exams, handouts, presentations, and other
            materials provided to students for this course are protected intellectural property. As such, the
            unauthorized
            purchase or sale of these materials may result in disciplinary sanctions under the <a
                href="https://studentconduct.wvu.edu/campus-student-code">Campus Student Code</a>.</p>
        <img src="https://learn.content.blackboardcdn.com/3900.21.0-rel.21+e2c25ca/images/ci/logos/bb_signature/Bb_Signature_StdMed.png"
            alt="Blackboard Learn" width="200">
        <div class="legal">
            <p>© 1997-2021 Blackboard Inc. All Rights Reserved. U.S. Patent No. 7,493,396 and 7,558,853. Additional
                Patents Pending.</p>
        </div>
        <div class="additionalInfo">
            <p><a href="http://access.blackboard.com" id="accessibilityLink">Accessibility information</a></p>
        </div>
    </div>
</body>